/* 
* Variables
*/

:root {
  --background: #A75C3F;
  --accent: #644034;
  --rgba: rgba(167, 92, 63, .4);
  --font: #C9C7A1;
  --link-hover: #998463;
}

/* Base */
body {
  width: 100%;
  background-color: var(--background);
  color: var(--font);
  font-size: 90%;
  font-family: 'Mukta Malar', sans-serif;
}

@media screen and (min-width: 56.250rem) {

  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 112.500rem) {

  body {
    width: 112.500rem;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
}

a,
a:visited,
a:active {
  color: var(--font);
}

a:hover {
  color: var(--link-hover);
}

/* Header */
header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.branding {
  width: 100%;
}

.text {
  background-color: var(--accent);
  padding: .8rem;
}

.text h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;

}

.text a,
.text a:hover {
  color: var(--font);
  text-decoration: none;
  margin: 0;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .branding {
      display: grid;
      background-image: url("../images/foto_top.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 50%;
    }

    .text {
      grid: 1;
      background-color: var(--rgba);
    }

    .text h1 {
      font-size: 3rem;
      margin: 0;
    }

  }

}


/* Navigation */

nav {
  display: flex;
  justify-content: flex-start;
}

.button {
  padding: 10px;
  margin-right: 10px;
}

.button a {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* Breadcrumb line */

.breadcrumbs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 0;
  background-color: var(--accent);
}

.crumb::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  margin: 0 10px;
}

.breadcrumbs a,
.breadcrumbs a:visited,
.breadcrumbs a:active,
.breadcrumbs a:hover {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--font);
  cursor: pointer;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    nav {
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
    }

    .button a {
      font-weight: 600;
      font-size: 1.3rem;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Footer */

footer {
  background-color: var(--accent);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact {
  display: none;
}

.contact a {
  margin-bottom: 10px;
}

.social a {
  font-size: 1.5rem;
}

.copy {
  text-align: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;

}



@supports (grid-area: auto) {

  @media screen and (min-width: 56.250rem) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .contact {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

    .contact a {
      margin-bottom: 10px;
    }

    .social a {
      font-size: 1.5rem;
    }

    .copy {
      flex-grow: 1;
      text-align: center;
    }

    .social {
      width: auto;
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* 
* Main Section
*/
main {
  padding: 0 10px;
}

.present {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.present-photo img {
  width: 100%;
  height: auto;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2rem auto;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.list-item:not(:last-child) {
  border-bottom: 2px solid var(--font);
}

.list-item input {
  margin-right: 2rem;
}

.list-item p {
  font-size: 2rem;
  flex-grow: 1;
}

input:checked+p {
  text-decoration: line-through;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250rem) {

    .present {
      width: 100%;
      margin: 0;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .present-text {
      flex: 0 0 45%;
    }

    .present-photo {
      flex: 0 0 50%;
    }

  }
}