/* 
* Variables
*/

:root {
  --background: #AAABD3;
  --accent: #353866;
  --rgba: rgba(170, 171, 211, .7);
  --font: #F8FAFF;
  --link-hover: #CBA6C3;
  --paragraphs: 'Mukta Malar', sans-serif;
  --headlines: 'Syncopate', sans-serif;
}

/* Base */
body {
  width: 100%;
  background-color: var(--background);
  color: var(--font);
  font-size: 90%;
  font-family: var(--paragraphs);
}

@media screen and (min-width: 56.250rem) {

  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 112.500rem) {

  body {
    width: 112.500rem;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headlines);
  font-weight: 700;
}

a,
a:visited,
a:active {
  color: var(--font);
}

a:hover {
  color: var(--link-hover);
}

/* Header */
header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.branding {
  width: 100%;
}

.text {
  background-color: var(--accent);
  padding: .8rem;
}

.text h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;

}

.text a,
.text a:hover {
  color: var(--font);
  text-decoration: none;
  margin: 0;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .branding {
      display: grid;
      background-image: url("../images/port_top.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 50%;
    }

    .text {
      grid: 1;
      background-color: var(--rgba);
    }

    .text h1 {
      font-size: 3rem;
      margin: 0;
    }

  }

}


/* Navigation */

nav {
  display: flex;
  justify-content: flex-start;
}

.button {
  padding: 10px;
  margin-right: 10px;
}

.button a {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* Breadcrumb line */

.breadcrumbs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 0;
  background-color: var(--accent);
}

.crumb::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  margin: 0 10px;
}

.breadcrumbs a,
.breadcrumbs a:visited,
.breadcrumbs a:active,
.breadcrumbs a:hover {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--font);
  cursor: pointer;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    nav {
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
    }

    .button a {
      font-weight: 600;
      font-size: 1.3rem;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Footer */

footer {
  background-color: var(--accent);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact {
  display: none;
}

.contact a {
  margin-bottom: 10px;
}

.social a {
  font-size: 1.5rem;
}

.copy {
  text-align: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;

}



@supports (grid-area: auto) {

  @media screen and (min-width: 56.250rem) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .contact {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

    .contact a {
      margin-bottom: 10px;
    }

    .social a {
      font-size: 1.5rem;
    }

    .copy {
      flex-grow: 1;
      text-align: center;
    }

    .social {
      width: auto;
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* 
* Main Section
*/

main {
  margin: 0;
  padding: 10px;
}

.text-box {
  color: #282828;
  background-color: var(--font);
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
}

main a,
main a:visited,
main a:active {
  color: #282828;
}

main a:hover {
  color: var(--link-hover);
}

main h4 {
  font-family: var(--paragraphs);
  font-size: 1.5rem;
}

main ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landscape {
  width: 100%;
  height: auto;
  max-width: 450px;
}

.portrait {
  width: auto;
  height: 100%;
  max-height: 350px;
}

.left {
  float: left;
  padding-right: 20px;
}

.right {
  float: right;
  padding-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 500ms;
}

.left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}