/* 
* Variables
*/

:root {
  --background: #ffffff;
  --accent: #5B6B91;
  --rgba: rgba(255, 255, 255, .8);
  --font: #282828;
  --accent-font: #ffffff;
  --link-hover: #6C96C1;
  --body-font: 'Mukta Malar', sans-serif;
  --headline-font: 'Syncopate', sans-serif;
}

/* Base */
body {
  width: 100%;
  background-color: var(--background);
  color: var(--font);
  font-size: 90%;
  font-family: var(--body-font);
}

@media screen and (min-width: 56.250rem) {

  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 112.500rem) {

  body {
    width: 112.500rem;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: 700;
}

a,
a:visited,
a:active {
  color: var(--font);
}

a:hover {
  color: var(--link-hover);
}

/* Header */
header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.branding {
  width: 100%;
}

.text {
  background-color: var(--accent);
  padding: .8rem;
}

.text h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;

}

.text a,
.text a:hover {
  color: var(--font);
  text-decoration: none;
  margin: 0;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .branding {
      display: grid;
      background-image: url("../images/birds_top.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 50%;
    }

    .text {
      grid: 1;
      background-color: var(--rgba);
    }

    .text h1 {
      font-size: 3rem;
      margin: 0;
    }

  }

}


/* Navigation */

nav {
  display: flex;
  justify-content: flex-start;
}

.button {
  padding: 10px;
  margin-right: 10px;
}

.button a {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* Breadcrumb line */

.breadcrumbs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 0;
  background-color: var(--accent);
  color: var(--accent-font);
}

.crumb::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  margin: 0 10px;
}

.breadcrumbs a,
.breadcrumbs a:visited,
.breadcrumbs a:active,
.breadcrumbs a:hover {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--accent-font);
  cursor: pointer;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    nav {
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
    }

    .button a {
      font-weight: 600;
      font-size: 1.3rem;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Footer */

footer {
  background-color: var(--accent);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--accent-font);
}

.contact {
  display: none;
}

.contact a {
  margin-bottom: 10px;
}

.social a {
  font-size: 1.5rem;
}

.copy {
  text-align: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

footer a,
footer a:visited,
footer a:active {
  color: var(--accent-font);
}

footer a:hover {
  color: var(--link-hover);
}



@supports (grid-area: auto) {

  @media screen and (min-width: 56.250rem) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .contact {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

    .contact a {
      margin-bottom: 10px;
    }

    .social a {
      font-size: 1.5rem;
    }

    .copy {
      flex-grow: 1;
      text-align: center;
    }

    .social {
      width: auto;
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* 
* Main Section
*/

main {
  min-height: 75vh;
  background-image: url(../images/rawpixel-623444-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.timer-box {
  min-height: 75vh;
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
}

.control {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.control>* {
  flex: 1;
  white-space: nowrap;
}

.control form {
  flex: 1;
  display: flex;
}

.control input {
  flex: 1;
  border: 1px solid var(--accent);
  outline: none;
  font-size: 1.4rem;
  padding: 10px;
  font-family: 'KoHo', sans-serif;
}

.timer-button {
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--accent-font);
  background: rgba(91, 107, 145, .6);
  font-size: 2rem;
  border-bottom: 3px solid rgba(40, 40, 40, .6);
  border-right: 1px solid rgba(40, 40, 40, .6);
}

.timer-button:hover,
.timer-button:focus {
  background: rgba(91, 107, 145, .8);
}

.display p,
.display h2 {
  font-family: 'KoHo', sans-serif;
}

.display h2 {
  font-size: 18rem;
  margin: 0;
}

.display p {
  font-size: 3.5rem;
  margin: 0;
}