/* /* 
* Variables
*/

:root {
  --background: #D2E5C5;
  --accent: #A1CEAB;
  --rgba: rgba(210, 229, 197, .8);
  --font: #282828;
  --accent-font: #E5E5E3;
  --link-hover: #ED908C;
  --body-font: 'Mukta Malar', sans-serif;
  --headline-font: 'Syncopate', sans-serif;
}

/* Base */

body {
  width: 100%;
  /* background-color: var(--background); */
  color: var(--font);
  font-size: 90%;
  font-family: var(--body-font);
<<<<<<< HEAD

=======
  z-index: -9999;
>>>>>>> 1dbbfa3f260aaa41bde32fe1bad2ffa2a752790a
}

@media screen and (min-width: 56.250rem) {

  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 112.500rem) {

  body {
    width: 112.500rem;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: 700;
}

a {
  text-decoration: underline;
  color: black;
  border-radius: 20px;
  /*  background: inherit; */
}


/* Header */

header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.branding {
  width: 100%;
}

.text {
  /* background-color: var(--accent); */
  padding: .8rem;
}

.text h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}



@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .branding {
      display: grid;
      /*
      background-image: url("../images/foto_top.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      */
      width: 50%;
    }

    .text {
      grid: 1;
      /*  background-color: var(--rgba); */
    }

    .text h1 {
      font-size: 3rem;
      margin: 0;
    }

  }

}


/* Navigation */

nav {
  display: flex;
  justify-content: flex-start;
}

.button {
  padding: 10px;
  margin-right: 10px;
}

.button a {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* Breadcrumb line */


.breadcrumbs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 0;
  /*  background-color: var(--accent); */
  color: black;
}

.crumb::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  margin: 0 10px;
}



@supports (grid-area: auto) {
  @media screen and (min-width: 56.250em) {

    nav {
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
    }

    .button a {
      font-weight: 600;
      font-size: 1.3rem;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Footer */

footer {
  /* background-color: var(--accent); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

.contact {
  display: none;
}

.contact a {
  margin-bottom: 10px;
}

.social a {
  font-size: 1.5rem;
}

.copy {
  text-align: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;

}



@supports (grid-area: auto) {

  @media screen and (min-width: 56.250rem) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .contact {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

    .contact a {
      margin-bottom: 10px;
    }

    .social a {
      font-size: 1.5rem;
    }

    .copy {
      flex-grow: 1;
      text-align: center;
    }

    .social {
      width: auto;
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* 
* Main Section
*/


main {
  margin: 0;
  padding: 0 10px;

}


.text-box {
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;

}

.port {
  width: auto;
  height: 100%;
  max-height: 350px;

}

.lands {
  width: 100%;
  height: auto;
  max-width: 400px;

}

.left {
  float: left;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

.right {
  float: right;
  padding-left: 1rem;
  padding-bottom: .5rem;
}

.highlight {
  transition: all .2s;
  border-bottom: 2px solid yellow;

  position: absolute;
  top: 0;
  background: yellow;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgbs(0, 0, 0, 0.2);
}

@media screen and (min-width: 56.250em) {
  .text {
    width: 80%;
    margin: 0 auto;
  }
}