$background-light: rgb(250, 237, 205);
$background-darker: rgb(236, 233, 209);
$background-cards: rgb(233, 237, 201);
$text: rgb(39, 38, 37);
$border: rgb(204, 213, 174);
$link: rgb(198, 81, 70);
$link-hover: rgb(175, 64, 52);

// Social media icon colors
$linkedin: #0a66c2;
$twitter: #1da1f2;
$facebook: #1877f2;
$github: #181717;
