/* Set up variables */
:root {
  --background: #faedcd;
  --bg-head: rgb(254, 250, 224);
  --bg-cards: #e9edc9;
  --text: #272625;
  --border: #ccd5ae;
  --link: #c65146;
  --hover: #af4034;

  /* Social Icon Colors */
  --linkedin: #0a66c2;
  --twitter: #1da1f2;
  --facebook: #1877f2;
  --github: #181717;

  /* Fonts */
  --header: 'Syncopate', sans-serif;
  --body: 'Poppins', sans-serif;
}

body {
  background-color: var(--background);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
  font-family: var(--body);
  width: 100%;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

a:hover,
a:active,
a:focus {
  color: var(--hover);
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
  background-color: var(--bg-head);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.branding {
  display: grid;
  background-image: url('../../30days/assets/images/birds_top.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 50%;
  height: auto;
}

.branding .text {
  grid: 1;
  background-color: rgba(254, 250, 224, 0.85);
  padding: 0.75rem;
}

@media screen and (min-width: 53.125rem) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

header h1 {
  font-family: var(--header);
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

header h1 a {
  color: var(--text);
}

header p {
  margin: 0;
  font-size: 1.3rem;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
}

nav li {
  padding: 0 1rem;
}

nav a {
  border: none;
  transition: all 0.25s ease-in-out;
}

nav a:hover,
nav a:active,
nav a:focus {
  border-bottom: 1px solid var(--hover);
}

nav .current {
  color: var(--hover);
  border-bottom: 1px solid var(--hover);
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-top: 3px solid var(--border);
  background-color: var(--bg-head);
}

@media screen and (min-width: 43.75rem) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 43.75rem) {
  .info {
    align-items: flex-start;
  }
}

.info p {
  margin: 0;
}

.social {
  display: flex;
}

footer svg {
  width: 2rem;
  margin: 0 1rem;
}

#facebook {
  fill: var(--facebook);
}

#github {
  fill: var(--github);
}

#twitter {
  fill: var(--twitter);
}

#linkedin {
  fill: var(--linkedin);
}
