/* 
* Variables
*/

:root {
  --background: #c1b5a3;
  --accent: #805554;
  --rgba: rgba(193, 181, 163, 0.6);
  --font: #412f37;
  --accent-font: #d9dec8;
  --link-hover: #ba6487;
  --body-font: 'Mukta Malar', sans-serif;
  --headline-font: 'Syncopate', sans-serif;
}

/* Base */
body {
  width: 100%;
  background-color: var(--background);
  color: var(--font);
  font-size: 90%;
  font-family: var(--body-font);
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 56.25rem) {
  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 112.5rem) {
  body {
    width: 112.5rem;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: 700;
}

a,
a:visited,
a:active {
  color: var(--font);
}

a:hover {
  color: var(--link-hover);
}

/* Header */
header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.branding {
  width: 100%;
}

.text {
  background-color: var(--accent);
  padding: 0.8rem;
}

.text h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.text a,
.text a:hover {
  color: var(--font);
  text-decoration: none;
  margin: 0;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.25em) {
    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .branding {
      display: grid;
      background-image: url('../images/top_keyboard.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 50%;
    }

    .text {
      grid: 1;
      background-color: var(--rgba);
    }

    .text h1 {
      font-size: 3rem;
      margin: 0;
    }
  }
}

/* Navigation */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.nav__div {
  margin: 0.75rem 0;
}

nav a {
  text-decoration: none;
}

nav a:hover,
nav a:active,
nav a:focus {
  border-bottom: 1px solid #a14000;
  color: #a14000;
}

nav .current {
  border-bottom: 1px solid #a14000;
  color: #a14000;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.25em) {
    nav {
      flex-direction: row;
      align-items: center;
      margin-right: 1rem;
    }

    .nav__div {
      margin: 0 0.75rem;
    }
  }
}

/* Breadcrumb line */

.breadcrumbs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 0;
  background-color: var(--accent);
  color: var(--accent-font);
}

.crumb::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0a9';
  margin: 0 10px;
}

.breadcrumbs a,
.breadcrumbs a:visited,
.breadcrumbs a:active,
.breadcrumbs a:hover {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--accent-font);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--accent);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--accent-font);
}

.contact {
  display: none;
}

.contact a {
  margin-bottom: 10px;
}

.social a {
  font-size: 1.5rem;
}

.copy {
  text-align: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer a,
footer a:visited,
footer a:active {
  color: var(--accent-font);
}

footer a:hover {
  color: var(--link-hover);
}

@supports (grid-area: auto) {
  @media screen and (min-width: 56.25rem) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .contact {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

    .contact a {
      margin-bottom: 10px;
    }

    .social a {
      font-size: 1.5rem;
    }

    .copy {
      flex-grow: 1;
      text-align: center;
    }

    .social {
      width: auto;
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* 
* Main Section
*/

main {
  padding: 0 0.5em;
}

.presentation {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 56.25em) {
  .presentation {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .presentation-text {
    flex: 1 1 49%;
  }

  .presentation-photo {
    flex: 0 0 50%;
  }
}

blockquote {
  background-color: var(--accent-font);
}

blockquote::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f10e';
  margin: 0 10px;
}

blockquote::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f10d';
  margin: 0 10px;
}

code {
  font-family: 'Space Mono', monospace;
  background-color: var(--accent-font);
  display: inline-block;
  padding: 10px;
}

.exampels {
  width: 80%;
  margin: 0 auto;
}

.exampels section {
  margin-bottom: 3rem;
}

.explain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.explain h3 {
  font-family: var(--body-font);
  font-size: 2rem;
}

.explain-text {
  flex: 0 0 49%;
}

.once-examples {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.demo {
  width: 49%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo button {
  padding: 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(40, 40, 40, 0.3);
}

.demo p {
  font-size: 1.4rem;
}

.outer-box {
  background-color: #0812a3;
  color: #ffffff;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  min-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.middle-box {
  background-color: #a3360a;
  color: #ffffff;
  font-size: 1.2rem;
  width: 75%;
  min-height: 18.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.inner-box {
  background-color: #2ea308;
  color: #ffffff;
  font-size: 1.2rem;
  width: 75%;
  min-height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.outer-box.reverseColor {
  background-color: #a38308;
}

.middle-box.reverseColor {
  background-color: #08a38b;
}

.inner-box.reverseColor {
  background-color: #a3088d;
}
